* {
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 0rem;
  overflow: hidden;
  background-color: #fff;
}

.textarea-main-style{
  resize: none;
  width: 90%;
  height: 24vh;
  margin-bottom: 0.5rem;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: solid;
  border-color: #eee;
  outline-color: #aaa;
}

textarea:focus{
  border-color: #bbb;
  outline: none;
}

.main-container{
  height: 100%;
  margin-top: 1rem;
  background: rgba(255,255,255,0);
  z-index: 1000;
}

.card-container{
  color: rgb(40, 38, 44);
  background: rgba(255,255,255,0.2);
  z-index: 1000;
}

.footer-style-true{
  color: rgb(0,255,0);
}
.footer-style-false{
  color: rgb(255,0,0);
}

.input-name{
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: #eee;
  border-style: solid;
  border-radius: 4px;
  background: rgba(255,255,255,0.2);
}

.label-name{
  color: #bbb;
  font-size: 0.8rem;
}

.input-name-status{
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #fff;
  background: rgba(255,255,255,0);
}

.button-claim{
  position: relative;
  z-index: 1000;
}

.focus-false{
  outline: none;
  color: #bbb;
  boder: none;
}

.blue{
  background-color: rgba(100,100,255,0.15);
}
.yellow{
  background-color: rgba(255,255,0,0.15);
}
.red{
  background-color: rgba(255,0,0,0.15);
}
.green{
  background-color: rgba(0,255,0,0.15);
}
